 <div class="col-10  text-white light-card">
    <header class=" p-2 border-0 text-center">
      <h2>{{title}}</h2>
    </header>
    <article class="p-2">
       <p>{{content}}</p>
    </article>
    <footer class="p-2  text-end">
       <p>Created by <span class="text-danger">{{user.username}}</span> on {{format_date date_created}}</p>
    </footer>
  </div>